<nav class="ui tabular inverted menu">
  <header class="ui header item">Gym App Trainer</header>
  <div class="left menu">
    <a id="dashboard" class="item" href="/trainerdashboard"> Dashboard </a> 
    <a id="logout" class="item" href="/logout"> Logout </a>    
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>


