{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header>"BMI Tracker</header>
    <p>
      Fill in your assessments weekly and track your BMI. 
      Trainers will comment on your progress and encourage you to keep going!
    </p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/2dd480f0-24cd-4ef3-be51-2acf19edce20%2FBMIcalc_W1607_ts526791461.jpg?v=1598718999180">
  </div>
</section>